.Armor {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.armor-mod-cont {
    display: grid;

    height: 100%;

    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 300px));
    grid-gap: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

.armor-chips-bar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.armor-chip {
    color: #d0d0d0;
    background-color: transparent;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms;

    margin-right: 10px;
}

#mod-breakdown-button {
    display: none;
}

#mod-breakdown-button:hover {
    color: #000000;
    background-color: #D0D0D0;
}

#mod-clear-button {
    color: #E74C3C;
    border: 1px solid #E74C3C;
}

#mod-clear-button:hover {
    background-color: #E74C3C;
    color: #d0d0d0;
}

#mod-clear-button.hidden {
    display: none;
}

/* Hide the scrollbar initially */
.armor-mod-cont::-webkit-scrollbar {
    display: none;
  }

/*   
.armor-mod-cont:hover::-webkit-scrollbar {
    display: block;
    transition: all 0.5s;
}


.armor-mod-cont:hover::-webkit-scrollbar {
    display: block; 
}

.armor-mod-cont::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
    transition: all 0.5s;
}

.armor-mod-cont:hover::-webkit-scrollbar-thumb {
    background-color: #333;
} */

@media screen and (max-width: 800px) {
    .Armor {
        padding-right: 20px;
    }
    #mod-breakdown-button {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    .Armor {
        padding: 0 10px 80px 10px;
    }
}