.ChargeBoxes {
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.ChargeBoxes .box {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

.ChargeBoxes .box.active {
    background-color: #3498db;
    border-color: #3498db;
}

.ChargeBoxes .box.inactive {
    background-color: none;
}

.ChargeBoxes .box.remove {
    border: none;
    font-size: 80px;
    line-height: 65px;
    text-align: center;
    color: #c0392b;
}