.ArmorCharge {
    padding: 2.2vh 1.5vw;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 5px;
    
    margin-top: 5vh;
}

.armor-charge-header {
    display: flex;
    flex-wrap: wrap;
}

.armor-charge-header h2 {
    color: #D0D0D0;
    font-size: 24px;
}

.charge-box-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 25px;
}

.charge-box {
    aspect-ratio: 1/1;
    width: 13%;
    min-width: 22px;
    height: auto;
    border: 1px solid #fff;
}