.Breakdown {
    margin-top: 2vh;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: 2vw;

    color: #d0d0d0;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    overflow-y: auto;
}

.Breakdown .ability-section {}

.Breakdown .ability-section ul {
    list-style: none;
}

.Breakdown .ability-section li.disabled {
    display: none;
    opacity: 0.6;
}

.Breakdown .tab-buttons button {
    padding: 10px 6px;
    border: 1px solid #D0D0D0;
    background-color: transparent;
    color: #D0D0D0;
    margin: 0 5px 0 0;
    cursor: pointer;
    border-radius: 3px;

    transition: 200ms;
}

.Breakdown .tab-buttons button.active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

.Breakdown .tab-buttons button:not(.active):hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.Breakdown .tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.Breakdown .ability-section {
    flex-grow: 1;
    max-height: 240px;
}

.Breakdown .ability-section h3 {
    margin-top: 15px;
    font-size: 18px;
}

.Breakdown .ability-section li.kill-total-orb {
    /*background-color: rgba(0,0,0,0.2);*/
    background: linear-gradient(111.45deg, rgba(var(--primary-color), 0.2) 7.7%, rgba(0, 0, 0, 0) 100.74%);
    border-left: 2px solid rgba(var(--primary-color), 1);

    margin-left: -10px;
    padding: 10px;

    display: flex;
}

.Breakdown .ability-section li.kill-total-orb .kill-total {
    width: 50%;
}

.Breakdown .ability-section li.kill-total-orb .kill-total p {
    color: #fff;
    width: 100%;
}

.Breakdown .ability-section li.kill-total-orb .kill-total p:first-child {
    font-size: 12px;
}

.Breakdown .ability-section li.kill-total-orb .kill-total p {
    width: 100%;
}

.Breakdown .ability-section li {
    margin-bottom: 5px;
    margin-left: 20px;
}

.Breakdown .ability-section li p {
    display: inline-block;
}

.Breakdown .ability-section li p:first-child {
    width: 20%;
    max-width: 70px;
    min-width: fit-content;
    margin-right: 3px;
}

.Breakdown .ability-section li .bd-pct {
    font-size: 12px;
    display: inline-block;
}

.Breakdown .ability-section li .bd-val {
    font-size: 20px;
}

.Breakdown .aspect-fragment-link {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .Breakdown {
        padding-bottom: 60px;
    }
}