.Breakdown {
    margin-top: 2vh;
    border-left: 1px solid rgba(255,255,255,0.25);
    padding-left: 3vw;

    color: #d0d0d0;

    position: relative;
}

.AbilityBreakdown {
    margin-top: 25px;
}

.AbilityBreakdown h4 {
    margin-top: 10px;
}

.OrbBreakdown {
    margin-top: 25px;
}

.OrbBreakdown h4 {
    margin-top: 10px;
}