.Breakdown {
    margin-top: 2vh;
    border-left: 1px solid rgba(255,255,255,0.25);
    padding-left: 3vw;

    color: #d0d0d0;

    position: relative;
}

.Breakdown .ability-section {

}

.Breakdown .ability-section ul {
    list-style: none;
}

.Breakdown .ability-section li.disabled {
    opacity: 0.6;
}