.ModButtons {
    position: absolute;
    bottom: 10px;
}

.ModButtons button {
    color: black;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
}

.ModStacks li.current {
    position: relative;
}

.ModStacks li.current::before {
    content: '>';
    position: absolute;
    left: -12px;
}