nav {
    height: 100%;
    width: 100px;
    color: #fff;
    list-style: none;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.25);
    padding-top: 80px;

    position: fixed;

    display: flex;
    flex-direction: column;
}

nav a.armor-nav  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    color: #d0d0d0;
    cursor: pointer;
    transition: 200ms;
    margin-bottom: 40px;
    padding: 2px 24px 14px 4px;
    text-decoration: none;
    border: 1px solid transparent;
}

nav a.armor-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav a:not(.armor-nav) {
    justify-content: center;
}

nav a.armor-nav.active {
    border: 1px solid white;
    justify-content: center;
    padding-right: 4px;
}

nav .nav-label {
    color: rgba(208, 208, 208, 0.75);
    display: flex;
    flex-direction: column;
    transition: 200ms;
}


nav a.active .nav-label {
    color: #d0d0d0;
}

nav .nav-icon {
    width: 62px;
    height: 62px;
    padding: 4px;
}

nav a .nav-icon svg {
    width: 100%;
    height: 100%;

    fill: rgba(208, 208, 208, 0.1);
    stroke: rgba(208, 208, 208, 0.75);
    stroke-width: 1px;
}

nav a.active .nav-icon svg {
    fill: #d0d0d0;
}

nav .nav-label p {
    text-align: center;
    height: 15px;
}

nav .nav-mod-count {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;

    position: absolute;
    right: 10px;

    transition: 200ms;
}

nav .nav-mod-count div {
    position: relative;
    width: 6px;
    height: 10px;
    display: flex;
    align-items: center;
    transition: 200ms;
}

nav .nav-mod-count div div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 0px;
}

nav .nav-mod-count div.active div {
    width: 6px;
    height: 10px;
    background: rgba(208, 208, 208, 0.75);
}

nav a.active .nav-mod-count {
    position: absolute;
    right: -20px;
}

nav a.active .nav-mod-count div {
    height: 20px;
    width: 8px;
}

/* nav a.active .nav-mod-count div div {} */

nav a.active .nav-mod-count div.active div {
    background: #E3E3E3;
}

nav a.active .nav-mod-count div:not(.active) div {
    background: 0;
    left: -12px;
    width: 1px;
}

.basic-nav {
    color: #d0d0d0;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    margin-bottom: 20px;
    padding: 10px 0;
}

.basic-nav .nav-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-nav .nav-label p {
    width: min-content;
    height: 100%;
}

.basic-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.basic-nav.active {
    border: 1px solid #d0d0d0;
}

.basic-nav .nav-icon {
    width: 30px;
    height: 30px;
}

/* .basic-nav svg {
    fill: rgba(208, 208, 208, 0.1);
    stroke: rgba(208, 208, 208, 0.75);
} */

.small-cont:first-of-type {
    margin-top: auto;
}

.small-cont {
    width: 100%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
}

.small-cont a {
    color: #d0d0d0;
}

.small-cont a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 0;

        width: 100%;
        height: 60px;

        bottom: 0;
        left: 0;

        z-index: 999;

        background-color: #111;
    }

    nav a.armor-nav, nav a.basic-nav {
        height: 100%;
        padding: 4px;
    }

    nav .nav-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
    }

    nav .nav-label {
        height: 100%;
    }

    nav .nav-label p {
        display: none ;
    }

    nav .nav-mod-count {
        display: none;
    }

    nav .basic-nav .nav-icon {
        width: 36px;
        height: 36px;
    }

    nav .small-cont {
        display: none;
    }
}