* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

:root {
    --gradient1: linear-gradient(111.45deg, rgba(67, 198, 172, 0.4) 7.7%, rgba(25, 22, 84, 0.4) 93.74%);
    --gradient2: linear-gradient(111.45deg, rgba(191, 233, 255, 0.8) 7.7%, rgba(255, 110, 127, 0.8) 93.74%);
    --gradient3: linear-gradient(111.45deg, rgba(204, 43, 94, 0.4) 7.7%, rgba(117, 58, 136, 0.4) 93.74%);
    --gradient4: linear-gradient(111.45deg, rgba(0, 0, 0, 1) 7.7%, rgba(236, 0, 140, 1) 193.74%);

    --vh: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    background: var(--gradient1);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;

    background-color: #000;
    overflow: hidden;
}