* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

:root {
    --background-gradient: linear-gradient(111.45deg, rgba(67, 198, 172, 0.4) 7.7%, rgba(25, 22, 84, 0.4) 93.74%);

    --vh: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    background: var(--background-gradient);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;

    background-color: #000000;
    overflow: hidden;
}